@font-face {
  font-family: 'Volte Regular';
  src: url(../fonts/Volte_Regular.otf);
}

@font-face {
  font-family: 'Volte Semibold';
  src: url(../fonts/Volte_Semibold.otf);
}

@font-face {
  font-family: 'Volte Bold';
  src: url(../fonts/Volte_Bold.otf);
}