html, body, .container {
  height: 100%;
}

body {
  font-family: 'Volte Regular', sans-serif;
  color: #3d3d3d;
  letter-spacing: .03rem;
  text-align: center;
  background-color: #f2f2f2;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

h1, h2 {
  margin: 0;
  font-family: 'Volte Bold', sans-serif;
  letter-spacing: .05rem;
}

h1 {
  margin-bottom: 20px;
  padding: 10px;
  background-color: #fff000;
}

strong {
  font-family: 'Volte Semibold', sans-serif;
}

#umbrella {
  margin: 20px 0;
  width: 100px;
}

.inputWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  label {
    margin-bottom: 5px;
    font-size: .8rem;
  }
  #searchCity {
    padding: 10px;
    width: 280px;
    font-family: monospace;
    font-size: 1rem;
    letter-spacing: .05rem;
    text-align: center;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #000;
  }
}

#weatherInfo {
  margin: 20px 0 0 0;
  padding: 20px;
  min-width: 270px;
  background-color: #fff;
  border: 5px solid #3d3d3d;
  ul {
    margin: 0;
    padding-left: 0;
    list-style: none;
    li {
      margin: 5px;
    }
  }
}