html {
  height: 100%;
}

body {
  margin: 20px;
  height: 100%;
  font-family: 'Futura', Arial,Helvetica,sans-serif;
  color: #000;
}

header {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 150px;
    -webkit-animation: bounce-top 0.9s both;
            animation: bounce-top 0.9s both;
  }
  h1 {
    margin: 0;
    font-size: 2rem;
    position: absolute;
    z-index: 1;
  }
  p {
    margin: 0;
  }
}

.searchContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  label {
    font-size: .6rem;
  }
  input {
    margin: 10px 0 0 0;
    padding: 5px 0 5px 5px;
    width: 240px;
    height: 25px;
    border: 1px solid #f2f2f2;
  }
}

.weatherDisplay {
  margin-top: 20px;
  text-align: center;
  img {
    width: 80px;
  }
  h2 {
    margin: 5px;
    text-transform: uppercase;
  }
  h3 {
    margin: 0;
  }
}